.statusBar_container{
    height : 100px;
    width: 600px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 25px;
    display: flex;
    overflow-x: scroll;
}

.statusBar_container::-webkit-scrollbar{
    display: none;
}
.statusBar_status{
    margin: 15px 0px 0px 15px;
}

.statusBar_statusIcon{
    min-width: 55px;
    min-height: 55px;
    border:3px solid #DF3968;
}

.statusBar_upload{
    min-width: 55px;
    min-height: 55px;
    border: 4px solid #8e8e8e;
}

.statusBar_statusText{
    font-size: small;
    max-width: 65px;
    overflow-x: hidden;
    text-align: center;
}